################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/not-in-toc/v15/.suo
/.vs/NotInToc/v15/sqlite3/storage.ide
/.vs/ProjectSettings.json
/.vs/NotInToc/v15/.suo
/.vs/slnx.sqlite
/NotInToc/bin/Debug/NotInToc.pdb
/NotInToc/bin/Debug/NotInToc.exe.config
/NotInToc/bin/Debug/NotInToc.exe
/NotInToc/obj/Debug
/NotInToc/obj/Release
/NotInToc/NotInToc.csproj.user
