################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/NotInToc/bin/Debug
/NotInToc/obj
/NotInToc/NotInToc.csproj.user
